@charset "UTF-8";
/*///////////////////// 8aDG | D.G. Matias Ochoa Payva ///////////////////////*/
/*-------------------------| matias8adg@gmail.com |---------------------------*/
/*                                                                            */
/*////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------| FUENTES |---------------------------------*/
/*TITULOS*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/*TEXTOS EN GRAL*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
  font-family: 'gorrasiUI';
  src: url("../fonts/font3425.woff") format("woff"), url("../fonts/font3425.ttf") format("truetype"), url("../fonts/font3425.svg#font3425") format("svg");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------| RESET |----------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 76, ../sass/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  /*=========== Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
/* line 100, ../sass/base.scss */
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 104, ../sass/base.scss */
ol, ul {
  list-style: none; }

/* line 107, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 111, ../sass/base.scss */
a {
  text-decoration: none !important; }

/*---------------| BORRA RECTANGULOS A LOS LINKS MOBILE |---------------------*/
/* descomentar luego de compilar

 a, a:active, a:focus {
outline: none!important;
-moz-outline-style: none!important;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

  * {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); and
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
*/
/*---------------------------| Acordeon 8aDG |--------------------------------*/
/* line 134, ../sass/base.scss */
* {
  font-family: sans-serif;
  margin: 0; }

/* line 135, ../sass/base.scss */
dl {
  margin: 0px auto;
  width: 100%; }

/* line 136, ../sass/base.scss */
dt, dd {
  padding: 20px; }

/* line 137, ../sass/base.scss */
dt {
  background: #333333;
  color: #fff;
  border-bottom: 1px solid #141414;
  border-top: 1px solid #4E4E4E;
  cursor: pointer; }

/* line 138, ../sass/base.scss */
dd {
  background: #F5F5F5;
  display: none;
  line-height: 1.6em;
  text-align: center; }

/* line 139, ../sass/base.scss */
dt.activo, dt:hover {
  background: #424242; }

/* line 140, ../sass/base.scss */
dd:first-child {
  display: block; }

/* line 141, ../sass/base.scss */
dt:before {
  content: "▸";
  margin-right: 10px; }

/* line 142, ../sass/base.scss */
dt.activo:before {
  content: "▾"; }

/*-------------------------GridContainer 8aDG---------------------------------*/
/* line 146, ../sass/base.scss */
html, body {
  height: 100%; }

/* line 148, ../sass/base.scss */
.grid-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgba(255, 0, 0, 0.2);
  display: table;
  clear: both;
  margin: 0 auto;
  padding: 0px; }

/*-- our cleafix hack -- */
/* line 161, ../sass/base.scss */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* line 168, ../sass/base.scss */
.rowfixed:before, .rowfixed:before {
  content: "";
  display: table;
  clear: both;
  margin: 0 12.5%; }

/* line 176, ../sass/base.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  /*background-color: $clr_bs_top;*/ }

/* line 184, ../sass/base.scss */
.square {
  height: 0;
  padding-bottom: 12.5%; }

/*----------------------sistema de columnas 8aDG------------------------------*/
/* line 191, ../sass/base.scss */
.col-1 {
  width: 16.66667%; }

/* line 192, ../sass/base.scss */
.col-2 {
  width: 33.33333%; }

/* line 193, ../sass/base.scss */
.col-3 {
  width: 50%; }

/* line 194, ../sass/base.scss */
.col-4 {
  width: 66.66667%; }

/* line 195, ../sass/base.scss */
.col-5 {
  width: 83.33333%; }

/* line 196, ../sass/base.scss */
.col-6 {
  width: 100%; }

/* line 197, ../sass/base.scss */
.col-81 {
  width: 12.5%; }

/* line 198, ../sass/base.scss */
.col-82 {
  width: 25%; }

/* line 199, ../sass/base.scss */
.col-84 {
  width: 50%; }

/* line 200, ../sass/base.scss */
.col-86 {
  width: 75%; }

/* line 201, ../sass/base.scss */
.col-88 {
  width: 100%; }

/* line 202, ../sass/base.scss */
.outline, .outline * {
  outline: 1px solid #F6A1A1; }

/*---------------------------| MENOS DE 800PX |-------------------------------*/
@media all and (max-width: 800px) {
  /* line 209, ../sass/base.scss */
  .col-0 {
    width: 33.33%; }

  /* line 210, ../sass/base.scss */
  .col-1 {
    width: 33.33%; }

  /* line 211, ../sass/base.scss */
  .col-2 {
    width: 50%; }

  /* line 212, ../sass/base.scss */
  .col-3 {
    width: 83.33%; }

  /* line 213, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 214, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 215, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 216, ../sass/base.scss */
  .col-81 {
    width: 50%; }

  /* line 217, ../sass/base.scss */
  .col-82 {
    width: 100%; }

  /* line 218, ../sass/base.scss */
  .col-84 {
    width: 100%; }

  /* line 219, ../sass/base.scss */
  .col-86 {
    width: 100%; }

  /* line 220, ../sass/base.scss */
  .col-88 {
    width: 100%; }

  /* line 221, ../sass/base.scss */
  ul li {
    width: 100%; }

  /* line 222, ../sass/base.scss */
  .row .col-2:last-of-type {
    width: 100%; }

  /* line 226, ../sass/base.scss */
  .row .col-5 ~ .col-1 {
    width: 100%; }

  /* line 229, ../sass/base.scss */
  .ch {
    display: block !important; }

  /*-----------------| contenido personalizado medium 8aDG |--------------------*/ }
/*----------------------------| MENOS DE 650PX |------------------------------*/
@media all and (max-width: 650px) {
  /* line 241, ../sass/base.scss */
  .col-0 {
    width: 50%; }

  /* line 242, ../sass/base.scss */
  .col-1 {
    width: 100%; }

  /* line 243, ../sass/base.scss */
  .col-2 {
    width: 100%; }

  /* line 244, ../sass/base.scss */
  .col-3 {
    width: 100%; }

  /* line 245, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 246, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 247, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 248, ../sass/base.scss */
  .col-ch {
    width: 100%; }

  /* line 249, ../sass/base.scss */
  ul li {
    width: 100% !important; }

  /*--------------| MUESTRA SOLO EN RESOLUCIIONES GRANDES 8aDG |----------------*/
  /* line 253, ../sass/base.scss */
  .gd {
    display: none; }

  /* line 254, ../sass/base.scss */
  .ch {
    display: block !important; }

  /*-----------------| contenido personalizado mobile 8aDG |--------------------*/ }
/*-------------------| fin sistema de columnas 8aDG |-------------------------*/
/*--------------------------| slider multi noticias|----------------------------*/
/* line 265, ../sass/base.scss */
.nav {
  position: relative;
  top: -50px;
  width: 227px;
  height: 50px;
  text-align: center;
  background: #032e61;
  color: #fff;
  font: normal 400 1em 'PT Sans', sans-serif; }

/* line 276, ../sass/base.scss */
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  position: relative;
  bottom: 3px; }

/* line 285, ../sass/base.scss */
#left, #right {
  cursor: pointer;
  margin: 0 10px;
  font: normal 1.5em sans-serif;
  color: #fff;
  font-weight: 100;
  width: 2px; }

/* line 294, ../sass/base.scss */
#left {
  text-align: left !important; }

/* line 298, ../sass/base.scss */
#right {
  text-align: right !important; }

/* line 302, ../sass/base.scss */
#event_rotator {
  width: 227px;
  height: 375px;
  position: relative;
  overflow: hidden; }

/* line 308, ../sass/base.scss */
#slider {
  position: absolute;
  height: 380px;
  left: 0;
  width: 99999px; }

/* line 314, ../sass/base.scss */
.event {
  color: #fff;
  font: normal 400 1em 'PT Sans', sans-serif;
  background: #043b7b;
  float: left;
  width: 227px;
  height: 375px; }

/* line 322, ../sass/base.scss */
.event:nth-child(odd) {
  background: #0c4180; }

/* line 326, ../sass/base.scss */
.contenido {
  padding: 10px 10px; }

/* line 330, ../sass/base.scss */
.contenido p {
  font-size: 0.75em; }

/* line 333, ../sass/base.scss */
.titulo_rot {
  font-size: 1.2em; }

/* line 336, ../sass/base.scss */
.botones {
  padding-top: 15px; }

/*--------------------------| slider multi noticias|----------------------------*/
/* line 343, ../sass/base.scss */
.top {
  background: #043b7b;
  min-height: 50px !important; }

/* line 347, ../sass/base.scss */
.hdr {
  background: #ee8d03;
  min-height: 150px !important; }

/* line 351, ../sass/base.scss */
.menu {
  background: #004455;
  min-height: 50px !important; }

/* line 355, ../sass/base.scss */
.video {
  background: #e5e5e5;
  min-height: 380px !important; }

/* line 359, ../sass/base.scss */
.menu_carr {
  background: #1b1b1b;
  min-height: 360px !important; }

/* line 363, ../sass/base.scss */
.social {
  background: #5a8996;
  min-height: 400px !important; }

/* line 367, ../sass/base.scss */
.footer {
  background: #333333;
  min-height: 300px !important; }

/* line 371, ../sass/base.scss */
.bottom {
  background: #043b7b;
  min-height: 50px !important; }

/* line 376, ../sass/base.scss */
.der {
  float: right; }

/* line 379, ../sass/base.scss */
.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 391, ../sass/base.scss */
.menu a:hover {
  background: #fff; }

/* line 395, ../sass/base.scss */
.vivo a {
  color: #8d141c; }

/* line 399, ../sass/base.scss */
.contenidos a {
  color: #0f335f; }

/* line 403, ../sass/base.scss */
.grilla a {
  color: #0188c8; }

/* line 407, ../sass/base.scss */
.canal a {
  color: #0f335f; }

/* line 411, ../sass/base.scss */
.cont_video {
  min-height: 380px; }

/* line 415, ../sass/base.scss */
.logo {
  padding: 34px 0 34px 34px;
  font-weight: bold;
  font-family: sans-serif; }

/* line 421, ../sass/base.scss */
.logo span {
  position: relative;
  top: -35px;
  left: 10px; }

/* line 427, ../sass/base.scss */
.box_compra {
  display: inline-flex;
  height: 40px;
  width: 98%;
  padding: 30px 0 20px 0; }

/* line 434, ../sass/base.scss */
.item_cantidad {
  width: 80%;
  height: 40px; }

/* line 439, ../sass/base.scss */
.item_Quantity {
  border: none;
  width: 100%;
  background: #fff;
  text-align: left;
  color: #454545;
  font: italic 20px/150% 'Open Sans', Helvetica, sans-serif;
  padding: 5px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  height: 100%;
  font-size: 14px; }

/* line 456, ../sass/base.scss */
.item_Quantity input {
  padding: 0px;
  margin: 0 auto;
  border: none; }

/* line 465, ../sass/base.scss */
.item_add {
  background-color: #004455;
  color: #fff;
  display: block;
  height: 40px;
  width: 130px;
  text-decoration: none;
  font-size: 1.7em;
  line-height: 1.6;
  padding: 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 482, ../sass/base.scss */
.item_add span {
  font-family: 'gorrasiUI', sans-serif;
  color: #fff;
  display: block;
  width: 130px;
  line-height: 1.6;
  position: relative;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 495, ../sass/base.scss */
.ui {
  font-family: 'gorrasiUI';
  font-size: 2.5em; }

/* line 500, ../sass/base.scss */
.color1 {
  color: #fff; }

/* line 504, ../sass/base.scss */
.usuario {
  display: block;
  height: 150px;
  line-height: 150px;
  white-space: nowrap; }

/* line 511, ../sass/base.scss */
.bag {
  position: relative;
  top: 50px;
  padding: 0 30px; }

/* line 517, ../sass/base.scss */
.n_usuario {
  font-size: 12px;
  color: #004455;
  white-space: nowrap; }

/* line 523, ../sass/base.scss */
.cantidad {
  position: relative;
  top: 35px;
  font-size: 0.75em;
  color: #004455;
  left: -20px; }

/* line 530, ../sass/base.scss */
.contactos {
  position: relative;
  color: #004455;
  font: normal 600 0.75em 'Open Sans', sans-serif; }

/* line 535, ../sass/base.scss */
#iconos_contacto {
  font-size: 1.5em;
  color: #004455;
  position: relative;
  top: 6px; }

/* line 539, ../sass/base.scss */
.titulo_buscar {
  position: relative;
  font: normal 400 0.75em "Open Sans", sans-serif !important;
  top: -38px;
  left: 30px !important;
  width: 50% !important; }
