@charset "UTF-8";
/*///////////////////// 8aDG | D.G. Matias Ochoa Payva ///////////////////////*/
/*-------------------------| matias8adg@gmail.com |---------------------------*/
/*                                                                            */
/*////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------| FUENTES |---------------------------------*/
/*TITULOS*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/*TEXTOS EN GRAL*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@font-face {
  font-family: 'gorrasiUI';
  src: url("../fonts/font3425.woff") format("woff"), url("../fonts/font3425.ttf") format("truetype"), url("../fonts/font3425.svg#font3425") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 70, ../sass/base.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'gorrasiUI';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 84, ../sass/base.scss */
.icon-usuario:before {
  content: "k";
  font-size: 2em; }

/*---------------------------------| RESET |----------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 96, ../sass/base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  /*=========== Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
/* line 120, ../sass/base.scss */
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 124, ../sass/base.scss */
ol, ul {
  list-style: none !important; }

/* line 127, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 131, ../sass/base.scss */
a {
  text-decoration: none !important; }

/*---------------| BORRA RECTANGULOS A LOS LINKS MOBILE |---------------------*/
/* descomentar luego de compilar

 a, a:active, a:focus {
outline: none!important;
-moz-outline-style: none!important;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

  * {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); and
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
*/
/*---------------------------| Acordeon 8aDG |--------------------------------*/
/* line 154, ../sass/base.scss */
* {
  font-family: sans-serif;
  margin: 0; }

/* line 155, ../sass/base.scss */
dl {
  margin: 0px auto;
  width: 100%; }

/* line 156, ../sass/base.scss */
dt, dd {
  padding: 20px; }

/* line 157, ../sass/base.scss */
dt {
  background: #333333;
  color: #fff;
  border-bottom: 1px solid #141414;
  border-top: 1px solid #4E4E4E;
  cursor: pointer; }

/* line 158, ../sass/base.scss */
dd {
  background: #F5F5F5;
  display: none;
  line-height: 1.6em;
  text-align: center; }

/* line 159, ../sass/base.scss */
dt.activo, dt:hover {
  background: #424242; }

/* line 160, ../sass/base.scss */
dd:first-child {
  display: block; }

/* line 161, ../sass/base.scss */
dt:before {
  content: "▸";
  margin-right: 10px; }

/* line 162, ../sass/base.scss */
dt.activo:before {
  content: "▾"; }

/*-------------------------GridContainer 8aDG---------------------------------*/
/* line 166, ../sass/base.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0px;
  background: #404040; }

/* line 168, ../sass/base.scss */
.grid-container {
  width: 100%;
  height: 100%;
  max-width: 1360px;
  /*background-color: rgba(255,0,0 ,0.2);*/
  /*display: table;*/
  clear: both;
  margin: 0 auto;
  padding: 0px; }

/*-- our cleafix hack -- */
/* line 181, ../sass/base.scss */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* line 188, ../sass/base.scss */
.rowfixed {
  display: table !important;
  margin: 0 12.5% !important; }

/* line 195, ../sass/base.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  /*background-color: $clr_bs_top;*/ }

/*---------------------- cuadrados perfectos para las columnas ------------------------------*/
/* line 205, ../sass/base.scss */
.square {
  height: 0;
  padding-bottom: 12.5%; }

/* line 210, ../sass/base.scss */
.square1 {
  height: 0;
  padding-bottom: 16.66667%; }

/* line 211, ../sass/base.scss */
.square2 {
  height: 0;
  padding-bottom: 33.33333%; }

/* line 212, ../sass/base.scss */
.square3 {
  height: 0;
  padding-bottom: 50%; }

/* line 213, ../sass/base.scss */
.square4 {
  height: 0;
  padding-bottom: 66.66667%; }

/* line 214, ../sass/base.scss */
.square5 {
  height: 0;
  padding-bottom: 83.33333%; }

/* line 215, ../sass/base.scss */
.square6 {
  height: 0;
  padding-bottom: 100%; }

/*----------------------          menu de lista ------------------------------*/
/*----------------------sistema de columnas 8aDG------------------------------*/
/* line 223, ../sass/base.scss */
.col-1 {
  width: 16.66667%; }

/* line 224, ../sass/base.scss */
.col-2 {
  width: 33.33333%; }

/* line 225, ../sass/base.scss */
.col-3 {
  width: 50%; }

/* line 226, ../sass/base.scss */
.col-4 {
  width: 66.66667%; }

/* line 227, ../sass/base.scss */
.col-5 {
  width: 83.33333%; }

/* line 228, ../sass/base.scss */
.col-6 {
  width: 100%; }

/* line 229, ../sass/base.scss */
.col-81 {
  width: 12.5%; }

/* line 230, ../sass/base.scss */
.col-82 {
  width: 25%; }

/* line 231, ../sass/base.scss */
.col-84 {
  width: 50%; }

/* line 232, ../sass/base.scss */
.col-86 {
  width: 75%; }

/* line 233, ../sass/base.scss */
.col-88 {
  width: 100%; }

/* line 234, ../sass/base.scss */
.outline, .outline * {
  outline: 1px solid #F6A1A1; }

/*---------------------------| MENOS DE 800PX |-------------------------------*/
@media all and (max-width: 800px) {
  /* line 241, ../sass/base.scss */
  .col-0 {
    width: 33.33%; }

  /* line 242, ../sass/base.scss */
  .col-1 {
    width: 33.33%; }

  /* line 243, ../sass/base.scss */
  .col-2 {
    width: 50%; }

  /* line 244, ../sass/base.scss */
  .col-3 {
    width: 83.33%; }

  /* line 245, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 246, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 247, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 248, ../sass/base.scss */
  .col-81 {
    width: 50%; }

  /* line 249, ../sass/base.scss */
  .col-82 {
    width: 100%; }

  /* line 250, ../sass/base.scss */
  .col-84 {
    width: 100%; }

  /* line 251, ../sass/base.scss */
  .col-86 {
    width: 100%; }

  /* line 252, ../sass/base.scss */
  .col-88 {
    width: 100%; }

  /* line 253, ../sass/base.scss */
  ul li {
    width: 100%; }

  /* line 254, ../sass/base.scss */
  .row .col-2:last-of-type {
    width: 100%; }

  /* line 258, ../sass/base.scss */
  .row .col-5 ~ .col-1 {
    width: 100%; }

  /* line 261, ../sass/base.scss */
  .ch {
    display: block !important; }

  /*-----------------| contenido personalizado medium 8aDG |--------------------*/ }
/*----------------------------| MENOS DE 650PX |------------------------------*/
@media all and (max-width: 650px) {
  /* line 273, ../sass/base.scss */
  .col-0 {
    width: 50%; }

  /* line 274, ../sass/base.scss */
  .col-1 {
    width: 100%; }

  /* line 275, ../sass/base.scss */
  .col-2 {
    width: 100%; }

  /* line 276, ../sass/base.scss */
  .col-3 {
    width: 100%; }

  /* line 277, ../sass/base.scss */
  .col-4 {
    width: 100%; }

  /* line 278, ../sass/base.scss */
  .col-5 {
    width: 100%; }

  /* line 279, ../sass/base.scss */
  .col-6 {
    width: 100%; }

  /* line 280, ../sass/base.scss */
  .col-ch {
    width: 100%; }

  /* line 281, ../sass/base.scss */
  ul li {
    width: 100% !important; }

  /*--------------| MUESTRA SOLO EN RESOLUCIIONES GRANDES 8aDG |----------------*/
  /* line 285, ../sass/base.scss */
  .gd {
    display: none; }

  /* line 286, ../sass/base.scss */
  .ch {
    display: block !important; }

  /*-----------------| contenido personalizado mobile 8aDG |--------------------*/ }
/*-------------------| fin sistema de columnas 8aDG |-------------------------*/
/*--------------------------| input busqueda|----------------------------*/
/* line 297, ../sass/base.scss */
.box-search {
  padding: 40px; }

/* line 302, ../sass/base.scss */
.container-4 {
  overflow: hidden;
  width: 500px;
  vertical-align: middle;
  white-space: nowrap; }

/* line 309, ../sass/base.scss */
.container-4 input#search {
  width: 500px;
  height: 40px;
  background: #D8DEE6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #232833;
  padding-left: 15px; }

/* line 321, ../sass/base.scss */
.container-4 input#search::-webkit-input-placeholder {
  color: #434D54; }

/* line 325, ../sass/base.scss */
.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #434D54; }

/* line 329, ../sass/base.scss */
.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #434D54; }

/* line 333, ../sass/base.scss */
.container-4 input#search:-ms-input-placeholder {
  color: #434D54; }

/* line 337, ../sass/base.scss */
.container-4 button.icon {
  border: none;
  background: #232833;
  height: 40px;
  width: 100px;
  color: #fafafa;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

/* line 354, ../sass/base.scss */
.container-4 button.icon span {
  font: normal normal 600 14px/150% 'Open Sans', sans-serif; }

/* line 356, ../sass/base.scss */
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -100px;
  cursor: pointer; }

/* line 363, ../sass/base.scss */
.container-4:hover button.icon:hover {
  background: white;
  color: #232833;
  cursor: pointer; }

/*--------------------------| slider multi noticias|----------------------------*/
/*.nav {
position:relative;
top: -50px;
width: $eventw;
height: 50px;
text-align: center;
background: #CDCEC2;
color: #fff;
font:normal 100 1em 'Roboto', sans-serif;
}*/
/* line 385, ../sass/base.scss */
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  position: relative;
  bottom: 3px; }

/* line 394, ../sass/base.scss */
#left, #right {
  position: absolute;
  cursor: pointer;
  margin: 0 10px;
  font: normal 100 5em 'Roboto', sans-serif;
  color: #424242;
  font-weight: 100;
  width: 2px;
  z-index: 999;
  top: 130px; }

/* line 406, ../sass/base.scss */
#left {
  left: 20px; }

/* line 410, ../sass/base.scss */
#right {
  right: 40px; }

/* line 414, ../sass/base.scss */
#event_rotator {
  width: 100vw;
  height: 375px;
  position: relative;
  overflow: hidden;
  max-width: 1360px; }

/* line 422, ../sass/base.scss */
#slider {
  position: absolute;
  height: 375px;
  left: 0;
  width: 99999%; }

/* line 428, ../sass/base.scss */
.event {
  color: #fff;
  font: normal 300 1em 'Roboto', sans-serif;
  background: #e0e1d3;
  float: left;
  width: 100vw;
  height: 375px;
  max-width: 1360px; }

/* line 437, ../sass/base.scss */
.event:nth-child(odd) {
  background: #D8D9CD; }

/* line 441, ../sass/base.scss */
.contenido {
  padding: 50px;
  text-align: left; }

/* line 446, ../sass/base.scss */
.contenido p {
  font-size: 1.5em; }

/* line 449, ../sass/base.scss */
.titulo_rot {
  font: italic 600  'Open Sans', sans-serif;
  font: normal 100 5em 'Roboto', sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

/*--------------------------| slider multi noticias|----------------------------*/
/* line 465, ../sass/base.scss */
.top {
  background: #043b7b;
  min-height: 50px !important; }

/* line 469, ../sass/base.scss */
.hdr {
  background: #ee8d03;
  min-height: 100px !important; }

/* line 473, ../sass/base.scss */
.menu {
  background: #3E3E3E;
  text-align: center; }

/* line 477, ../sass/base.scss */
.sldr {
  background: #e5e5e5;
  min-height: 375px !important;
  text-align: center; }

/* line 482, ../sass/base.scss */
.promo {
  text-align: center;
  background: #dadada repeat center url("../img/trama_electro.svg"); }

/* line 487, ../sass/base.scss */
.promo h2 {
  font: italic 700 2.5em 'Open Sans', sans-serif;
  color: #141414;
  padding: 100px 0; }

/* line 493, ../sass/base.scss */
.productos {
  background: #D6D6D6;
  min-height: 400px !important; }

/* line 498, ../sass/base.scss */
.footer {
  background: #333333;
  min-height: 300px !important;
  color: #ee8d03;
  font-family: 'Roboto',sans-serif;
  font-weight: 300; }

/* line 505, ../sass/base.scss */
.footer h3 {
  font-family: 'Roboto',sans-serif; }

/* line 509, ../sass/base.scss */
.bottom {
  background: #043b7b;
  min-height: 50px !important; }

/* line 514, ../sass/base.scss */
.der {
  float: right; }

/* line 516, ../sass/base.scss */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 1vw;
  display: inline-flex; }

/* line 524, ../sass/base.scss */
.menu ul li {
  margin: 0;
  padding: 0; }

/* line 528, ../sass/base.scss */
.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  color: #fff; }

/* line 540, ../sass/base.scss */
.menu a:hover, a:active, a:focus {
  background: #fff;
  color: #3E3E3E; }

/* line 546, ../sass/base.scss */
.menu ul li ul {
  padding: 0;
  position: absolute;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index: 999; }

/* line 563, ../sass/base.scss */
.menu ul li ul li {
  background: #fff;
  display: block;
  color: #3E3E3E;
  padding: 10px; }

/* line 569, ../sass/base.scss */
.menu ul li ul li:hover {
  background: #fff; }

/* line 570, ../sass/base.scss */
.menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible; }

/* line 576, ../sass/base.scss */
.vivo a {
  color: #8d141c; }

/* line 580, ../sass/base.scss */
.contenidos a {
  color: #0f335f; }

/* line 584, ../sass/base.scss */
.grilla a {
  color: #0188c8; }

/* line 588, ../sass/base.scss */
.canal a {
  color: #0f335f; }

/* line 592, ../sass/base.scss */
.cont_video {
  min-height: 380px; }

/* line 596, ../sass/base.scss */
.logo {
  padding: 25px 0 10px 15px;
  font-weight: bold;
  font-family: sans-serif; }

/* line 602, ../sass/base.scss */
.logo img {
  width: 70px; }

/* line 606, ../sass/base.scss */
.logo span {
  position: relative;
  top: -48px;
  left: 10px; }

/* line 612, ../sass/base.scss */
.box_compra {
  display: inline-flex;
  height: 40px;
  width: 98%;
  padding: 30px 0 20px 0; }

/* line 619, ../sass/base.scss */
.item_cantidad {
  width: 80%;
  height: 40px; }

/* line 624, ../sass/base.scss */
.item_Quantity {
  border: none;
  width: 100%;
  background: #fff;
  text-align: left;
  color: #454545;
  font: italic 20px/150% 'Open Sans', Helvetica, sans-serif;
  padding: 5px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  height: 100%;
  font-size: 14px; }

/* line 641, ../sass/base.scss */
.item_Quantity input {
  padding: 0px;
  margin: 0 auto;
  border: none; }

/* line 650, ../sass/base.scss */
.item_add {
  background-color: #3E3E3E;
  color: #fff;
  display: block;
  height: 40px;
  width: 130px;
  text-decoration: none;
  font-size: 1.7em;
  line-height: 1.6;
  padding: 5px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 667, ../sass/base.scss */
.item_add span {
  font-family: 'gorrasiUI', sans-serif;
  color: #fff;
  display: block;
  width: 130px;
  line-height: 1.6;
  position: relative;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 680, ../sass/base.scss */
.ui {
  font-family: 'gorrasiUI';
  font-size: 2.5em; }

/* line 685, ../sass/base.scss */
.color1 {
  color: #fff; }

/* line 689, ../sass/base.scss */
.usuario {
  padding: 44px 0;
  display: block;
  white-space: nowrap;
  text-align: right; }

/* line 696, ../sass/base.scss */
.bag {
  position: relative;
  top: 50px;
  padding: 0 30px; }

/* line 702, ../sass/base.scss */
.n_usuario {
  position: relative;
  top: -6px;
  font-size: 14px;
  color: #3E3E3E;
  white-space: nowrap; }

/* line 710, ../sass/base.scss */
.cantidad {
  position: relative;
  top: 35px;
  font-size: 0.75em;
  color: #3E3E3E;
  left: -20px; }

/* line 717, ../sass/base.scss */
.contactos {
  position: relative;
  color: #3E3E3E;
  font: normal 600 0.75em 'Open Sans', sans-serif; }

/* line 722, ../sass/base.scss */
#iconos_contacto {
  font-size: 1.5em;
  color: #3E3E3E;
  position: relative;
  top: 6px; }

/* line 726, ../sass/base.scss */
.titulo_buscar {
  position: relative;
  font: normal 400 0.75em "Open Sans", sans-serif !important;
  top: -38px;
  left: 40px !important;
  width: 50% !important; }

/**** producto***/
/* line 736, ../sass/base.scss */
.img_frame {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* line 747, ../sass/base.scss */
.prod_cont {
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  padding: 10px;
  text-align: center !important;
  background: #f7f7f7;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 760, ../sass/base.scss */
.prod_cont:hover, .prod_cont:active, .prod_cont:focus {
  background: #DADADA; }

/* line 764, ../sass/base.scss */
.item_name {
  color: #454545;
  font-weight: 600;
  font-stretch: normal;
  font-size: 22px;
  margin: 8px 0 5px;
  font-family: 'PT Sans', sans-serif;
  text-transform: lowercase !important; }

/* line 774, ../sass/base.scss */
.desc {
  color: #7e7e7e;
  font-size: 15px;
  text-align: left;
  line-height: 125%;
  margin-left: 38px;
  min-height: 70px; }

/* line 783, ../sass/base.scss */
.desc p {
  padding: 5px; }

/* line 787, ../sass/base.scss */
.item_price {
  font-weight: 600;
  font-stretch: normal;
  font-size: 22.5px;
  color: #3E3E3E;
  margin: 8px 0 8px; }

/* line 796, ../sass/base.scss */
.box_compra_tiny {
  display: inline-flex;
  height: 47px;
  width: 163px; }

/* line 802, ../sass/base.scss */
.item_add_ch {
  font-family: 'gorrasiUI', sans-serif;
  background-color: #ee8d03;
  color: #3E3E3E;
  display: block;
  height: 36px;
  width: 50px;
  text-decoration: none;
  font-size: 1.7em;
  padding-top: 9px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

/* line 819, ../sass/base.scss */
.item_add_ch:hover, .item_add_ch:focus, .item_add_ch:active {
  font-family: 'gorrasiUI', sans-serif;
  color: #000;
  background: rgba(0, 0, 0, 0.2); }

/* line 825, ../sass/base.scss */
.item_Quantity_ch {
  border: none;
  width: 110px;
  height: 45px;
  background: #fff;
  text-align: center;
  color: #454545;
  font: normal normal 600 20px/150% 'Open Sans', Helvetica, sans-serif; }

/* line 835, ../sass/base.scss */
.custom {
  background: #f7f7f7; }

/* line 840, ../sass/base.scss */
.caja_promo {
  fill: #ee8d03 !important; }

/* line 844, ../sass/base.scss */
.flecha_caja_promo {
  fill: #573301 !important; }

/* line 848, ../sass/base.scss */
.imapromo {
  position: relative;
  z-index: 999;
  top: -400px;
  left: 150px; }

/* line 854, ../sass/base.scss */
.tope {
  padding-top: 50px; }
