// variables

$clr_bs_top: #043b7b;
$clr_bs_hdr: #ee8d03;
$clr_bs_2: #3E3E3E;
$clr_bs_menu: #3E3E3E;
$clr_cont_vid: #e5e5e5;
$clr_cont_carr: #dadada;
$clr_cont_scl: #5a8996;
$clr_bs_ftr: #333333;
$Fclr_titl: #fff;
$Fclr_subtitl: #fff;
$Fclr_txt: #043b7b;
$bsColGrid1:100% /12;
$bsColGrid2:100% /8;
$bsColGrid3:100% /6;
$margenGrilla1:100% /12;
$margenGrilla2:100% /8;
$margenGrilla3:100% /6;
$maxWidth:1360px;
//colores_acordeon
$dtClrBack:#333333;
$dtClrBackActive:#424242;
$dtClrFont:#fff;
$dtClrTopline:#4E4E4E ;
$dtClrBtmline:#141414;
$ddClrBack:#F5F5F5;
$ddClrFont:#fff;
//rows
$alto_minimo:250px;
//menu
$Fclr_menu_vivo:#8d141c;
$Fclr_menu_contenidos:#0f335f;
$Fclr_menu_grilla:#0188c8;
$Fclr_menu_canal:#0f335f;
$BckColor:#404040;
$BckColorprod:#D6D6D6;
//slider
//ancho y alto del event del slider
$eventw:100vw;
$eventh:375px;
// fin variables

/*///////////////////// 8aDG | D.G. Matias Ochoa Payva ///////////////////////*/
/*-------------------------| matias8adg@gmail.com |---------------------------*/
/*                                                                            */
/*////////////////////////////////////////////////////////////////////////////*/

/*--------------------------------| FUENTES |---------------------------------*/

/*TITULOS*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/*TEXTOS EN GRAL*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


@font-face {
  font-family: 'gorrasiUI';
  src: url('../fonts/font3425.woff') format('woff'),
       url('../fonts/font3425.ttf') format('truetype'),
       url('../fonts/font3425.svg#font3425') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'gorrasiUI';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-usuario:before {
    content: "k";
    font-size: 2em;
}

/*---------------------------------| RESET |----------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: sans-serif;
    /*=========== Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 a {text-decoration:none!important;}

/*---------------| BORRA RECTANGULOS A LOS LINKS MOBILE |---------------------*/
/* descomentar luego de compilar

 a, a:active, a:focus {
outline: none!important;
-moz-outline-style: none!important;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

  * {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); and
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
*/

/*---------------------------| Acordeon 8aDG |--------------------------------*/


 *{ font-family: sans-serif; margin: 0;}
dl{ margin: 0px auto; width: 100%; }
dt, dd{ padding: 20px; }
dt{ background: $dtClrBack; color:$dtClrFont; border-bottom: 1px solid $dtClrBtmline; border-top: 1px solid $dtClrTopline; cursor: pointer; }
dd{ background: $ddClrBack; display: none; line-height: 1.6em;text-align: center;}
dt.activo, dt:hover{ background: $dtClrBackActive; }
dd:first-child{display: block;}
dt:before{ content: "▸"; margin-right: 10px; }
dt.activo:before{ content: "▾"; }


/*-------------------------GridContainer 8aDG---------------------------------*/
html ,body{ height: 100%;overflow-x:hidden;margin: 0 auto;padding: 0px;background:$BckColor;}

.grid-container {
        width:100%; 
        height: 100%;
        max-width:$maxWidth;
        /*background-color: rgba(255,0,0 ,0.2);*/
        /*display: table;*/
        clear:both;
        margin: 0 auto;
        padding: 0px;
    }


    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table;
        clear:both;
    }

       .rowfixed {
        display: table!important;
        margin:0 $margenGrilla2!important;
    }



    [class*='col-'] {
        float: left; 
        min-height:1px; 
        width: 16.66%;
        /*-- our gutter -- */ 
        /*background-color: $clr_bs_top;*/
    }

/*---------------------- cuadrados perfectos para las columnas ------------------------------*/

    .square {
    height: 0;
    padding-bottom: $bsColGrid2;
}

    .square1 {height: 0;padding-bottom: $bsColGrid3  ;}
    .square2 {height: 0;padding-bottom: $bsColGrid3*2;}
    .square3 {height: 0;padding-bottom: $bsColGrid3*3;}
    .square4 {height: 0;padding-bottom: $bsColGrid3*4;}
    .square5 {height: 0;padding-bottom: $bsColGrid3*5;}
    .square6 {height: 0;padding-bottom: $bsColGrid3*6;}

/*----------------------          menu de lista ------------------------------*/



/*----------------------sistema de columnas 8aDG------------------------------*/

    .col-1{ width: $bsColGrid3; }
    .col-2{width: $bsColGrid3*2;}
    .col-3{ width: $bsColGrid3*3;}
    .col-4{ width: $bsColGrid3*4; }
    .col-5{ width: $bsColGrid3*5; }
    .col-6{  width: $bsColGrid3*6;}
    .col-81{width: $bsColGrid2;}
    .col-82{width: $bsColGrid2*2;}
    .col-84{width: $bsColGrid2*4;}
    .col-86{width: $bsColGrid2*6;}
    .col-88{width: $bsColGrid2*8;}
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }

/*---------------------------| MENOS DE 800PX |-------------------------------*/

    @media all and (max-width:800px){
        .col-0{ width: 33.33%;   }
        .col-1{ width: 33.33%;   }
        .col-2{ width: 50%;      }
        .col-3{ width: 83.33%;   }
        .col-4{ width: 100%;     }
        .col-5{ width: 100%;     }
        .col-6{ width: 100%;     }
    .col-81{width: $bsColGrid2*4;}
    .col-82{width: $bsColGrid2*8;}
    .col-84{width: $bsColGrid2*8;}
    .col-86{width: $bsColGrid2*8;}
    .col-88{width: $bsColGrid2*8;}
ul li { width: 100%;      }
        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
.ch {display: block!important;}

/*-----------------| contenido personalizado medium 8aDG |--------------------*/




}

/*----------------------------| MENOS DE 650PX |------------------------------*/

    @media all and (max-width:650px){
        .col-0{ width: 50%;     }
        .col-1{ width: 100%;    }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;    }
        .col-ch{ width: 100%;   }
        ul li { width: 100%!important;}

/*--------------| MUESTRA SOLO EN RESOLUCIIONES GRANDES 8aDG |----------------*/

.gd {display: none;}
.ch {display:block!important;}

/*-----------------| contenido personalizado mobile 8aDG |--------------------*/



}
/*-------------------| fin sistema de columnas 8aDG |-------------------------*/


/*--------------------------| input busqueda|----------------------------*/
.box-search{
padding:55px;

}

.container-4{
  overflow: hidden;
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 500px;
  height: 40px;
  background: #D8DEE6;
  border: none;
  font-size: 10pt;
  float: left;
  color: #232833;
  padding-left: 15px;

}

.container-4 input#search::-webkit-input-placeholder {
   color: #434D54;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #434D54;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #434D54;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #434D54;  
}

.container-4 button.icon{

  border: none;
  background: #232833;
  height: 40px;
  width: 100px;
  color: #fafafa;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 button.icon span{font: normal normal 600 14px/150% 'Open Sans', sans-serif;}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -100px;
  cursor:pointer;
}
 
.container-4:hover button.icon:hover{
  background: white;
  color:#232833;
  cursor:pointer;
}



/*--------------------------| slider multi noticias|----------------------------*/


/*.nav {
position:relative;
top: -50px;
width: $eventw;
height: 50px;
text-align: center;
background: #CDCEC2;
color: #fff;
font:normal 100 1em 'Roboto', sans-serif;
}*/

.nav a {
  text-decoration: none;
  color:$Fclr_titl;
padding: 0 15px;
text-align: center;
position: relative;
bottom: 3px;
}

#left, #right{
position: absolute;
cursor: pointer;
margin: 0 10px;
font:normal 100 5em 'Roboto', sans-serif;
color:$dtClrBackActive;
font-weight: 100;
width: 2px;
z-index:999;
top:130px;
}

#left{
left:20px;
}

#right {
right:40px;
}

#event_rotator{
  width:$eventw;
  height:$eventh;
  position:relative;
  overflow:hidden;
  max-width:1360px;
}

#slider{
  position:absolute;
  height:$eventh;
  left:0; 
  width:99999%;
}
.event{
  color:$Fclr_titl;
  font:normal 300 1em 'Roboto', sans-serif;
  background:#e0e1d3;
  float:left;
  width:$eventw;
  height:$eventh;
  max-width:1360px;
}
.event:nth-child(odd){
 background:#D8D9CD;
}

.contenido {
padding: 50px;
text-align:left;
}

.contenido p {
  font-size: 1.5em;
}
.titulo_rot{
font:italic 600  'Open Sans', sans-serif;
font:normal 100 5em 'Roboto', sans-serif;
text-shadow: 1px 1px 10px rgba(0,0,0, 0.5);
}

// .botones{
//   position:relative;
//   width:$eventw;
//   top:45%;
//   font-size:2em;
// }


/*--------------------------| slider multi noticias|----------------------------*/

.top{
  background:$clr_bs_top ;
min-height: 50px!important;
}
.hdr{
  background:$clr_bs_hdr ;
  min-height: 150px!important;
}
.menu{
  background: $clr_bs_menu;
  text-align:center;
}
.sldr{
  background:$clr_cont_vid;
  min-height: 375px!important;
   text-align: center;
}
.promo {
  text-align:center;
  background:$clr_cont_carr repeat center url('../img/trama_electro.svg');
}

.promo h2{
font:italic 700 2.5em 'Open Sans', sans-serif;
color:$dtClrBtmline;
padding:100px 0;
}

.productos{
  background:$BckColorprod ;
  min-height: 400px!important;
}

.footer{
  background:$clr_bs_ftr;
    min-height: 300px!important;
    color:$clr_bs_hdr;
    font-family:'Roboto',sans-serif;
    font-weight:300;
}
.footer h3{
 font-family:'Roboto',sans-serif;
}

.bottom {
  background:$clr_bs_top;
    min-height: 50px!important;
}

.der{float: right;}

.menu ul {  
  list-style:none;
  margin:0;
    padding:0;
 white-space: nowrap;
font-size: 1vw;
  display:inline-flex;
}
.menu ul li {
  margin:0;
  padding:0; //Ya no necesito el padding, tambien quitare el borde que puse antes.
}
.menu a {
text-decoration: none;
display: inline-block;
padding: 15px 15px;
text-align: center;
-webkit-transition: background-color 0.5s ease-out;
-moz-transition: background-color 0.5s ease-out;
-o-transition: background-color 0.5s ease-out;
transition: background-color 0.5s ease-out;
color:#fff;
}

.menu a:hover, a:active, a:focus{
background: #fff;
color:$clr_bs_menu;
}


.menu ul li ul {
  padding: 0;
  position: absolute;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index:999;
}
.menu ul li ul li { 
  background: #fff; 
  display: block; 
  color:$clr_bs_menu;
  padding:10px;
}
.menu ul li ul li:hover { background: #fff; }
.menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.vivo a{
  color: $Fclr_menu_vivo;
}

.contenidos a{
  color: $Fclr_menu_contenidos;
}

.grilla a{
  color: $Fclr_menu_grilla;
}

.canal a{
  color: $Fclr_menu_canal;
}

.cont_video{
min-height: 380px;
}

.logo{
padding: 25px 0 10px 15px;
  font-weight:bold;
  font-family:sans-serif;
}

.logo img{
  width:100px;
}

.logo span{
position: relative;
top: -48px;
left: 10px;
}

.box_compra {
    display: inline-flex;
    height: 40px;
    width: 98%;
    padding: 30px 0 20px 0;
}

.item_cantidad {
  width: 80%;
height: 40px;
}

.item_Quantity {
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    color: rgb(69, 69, 69);
    font:italic 20px/150% 'Open Sans', Helvetica, sans-serif;
    padding: 5px;
     -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    height: 100%;
    font-size: 14px;
}


.item_Quantity input {
      padding: 0px;
margin: 0 auto;
border: none;
}




.item_add {
    background-color:$clr_bs_2;
    color: #fff;
    display: block;
    height: 40px;
    width: 130px;
    text-decoration: none;
    font-size: 1.7em;
    line-height: 1.6;
    padding: 5px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}


.item_add span{
    font-family: 'gorrasiUI', sans-serif;
    color: #fff;
    display: block;
    width: 130px;
    line-height: 1.6;
    position:relative;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.ui {
font-family: 'gorrasiUI';
font-size:2.5em;
}

.color1{
  color:$dtClrFont;
}

.usuario {
 display: block;
  height: 150px;
  line-height: 150px;
  white-space: nowrap;
  text-align: right;
}

.bag {
  position:relative;
  top:50px;
  padding: 0 30px;
}

.n_usuario{
  position: relative;
  top: -6px;
font-size: 14px;
color:$clr_bs_2;
white-space:nowrap;
}

.cantidad {
position: relative;
top: 35px;
font-size: 0.75em;
color:$clr_bs_2;
left: -20px;
}
.contactos{
  position: relative;
  color:$clr_bs_2;
  font:normal 600 0.75em 'Open Sans', sans-serif;
  }
#iconos_contacto {
font-size:1.5em;color:$clr_bs_2;position: relative;top: 6px;
}

.titulo_buscar {
position: relative;
font: normal 400 0.75em "Open Sans", sans-serif !important;
top: -38px;
left: 40px !important;
width: 50% !important;
}
/**** producto***/


.img_frame{
width:200px;
height:200px;
border-radius:50%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    }

.prod_cont{
  width:80%;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    padding:10px;
    text-align:center!important;
    background:rgb(247, 247, 247);
        -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.prod_cont:hover ,.prod_cont:active ,.prod_cont:focus{
background:#DADADA;
}

.item_name {
color:rgb(69, 69, 69);
font-weight: 600;
font-stretch: normal;
font-size: 22px;
margin: 8px 0 5px;
font-family: 'PT Sans', sans-serif;
text-transform: lowercase!important; 
}

.desc{
    color: rgb(126, 126, 126);
    font-size:15px;
    text-align:left;
    line-height: 125%;
    margin-left:38px;
    min-height:70px;
}

.desc p{
    padding: 5px;
}

.item_price{

font-weight: 600;
font-stretch: normal;
font-size: 22.5px;
color:$clr_bs_2;
margin:8px 0 8px;
}

.box_compra_tiny{
display:inline-flex;
height:47px;
width:163px;
}

.item_add_ch {
font-family: 'gorrasiUI', sans-serif;
background-color:$clr_bs_hdr;
color:$clr_bs_2;
display: block;
height:36px;
width:50px;
text-decoration:none;
font-size: 1.7em;
padding-top: 9px;
    -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


.item_add_ch:hover,.item_add_ch:focus,.item_add_ch:active{
    font-family: 'gorrasiUI', sans-serif;
    color:#000;
    background: rgba(0,0,0 ,0.2);
}

.item_Quantity_ch{
border:none;
width:110px;
height:45px;
background:#fff;
text-align:center;
color:rgb(69, 69, 69);
font: normal normal 600 20px/150% 'Open Sans', Helvetica, sans-serif;
}

.custom{

    background: rgb(247, 247, 247);
}

.caja_promo{
  fill:$clr_bs_hdr!important;
}

.flecha_caja_promo{
  fill:darken($clr_bs_hdr , 30% )!important;
}

.imapromo{
position: relative;
z-index: 999;
top: -400px;
left: 150px;
}
 .tope{
  padding-top:50px;
 }